.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  color: white;
  h1 {
    color: white;
  }
  p {
    margin: 0 0.5rem;
  }
}
