.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.6rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.cover {
  padding: 1rem;
  justify-content: center;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    color: white;
    font-family: "Montserrat";
    text-align: justify;
  }
}

.name {
  h3 {
    color: white;
    margin: 0;
    font-size: 5vh;
  }
}

.date {
  color: white;
}

.imdb {
  a {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white;
    text-transform: none;
    font-weight: normal;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

    &:hover {
      color: black;
      background-color: rgb(255, 196, 0);
    }
  }
}

.recTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
  margin: 0 3rem;
  p {
    color: inherit;
    font-size: 1.5rem;
  }
  span {
    margin-left: 0.3rem;
  }
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5rem;
  a {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white;
    text-transform: none;
    font-weight: normal;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

    &:hover {
      color: black;
      background-color: rgb(255, 196, 0);
    }
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex: 5;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-top: 2rem;
  }
}

// Smart Phone
@media only screen and (min-width: 1px) and (max-width: 767px) {
  .container {
    flex: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5rem;
  }

  .content {
    padding-bottom: 0.5rem;
  }

  .cover img {
    width: 100%;
  }
}
