.recommendations {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  margin: 1rem 3rem;

  .rec-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: white;
    p {
      color: inherit;
      font-size: 1.5rem;
    }
    span {
      margin-left: 0.3rem;
    }
  }
  .rec-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}
