.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background: #020f02;
  background: -webkit-linear-gradient(top left, #020f02, #2a1c4d);
  background: -moz-linear-gradient(top left, #020f02, #2a1c4d);
  background: linear-gradient(to bottom right, #020f02, #2a1c4d);
  background-attachment: fixed;
}
